<div class="jumbotron">
  <div class="container">
    <h1 class="title">漂泊的東東</h1>
    <p class="sub-title">這是一個讓你把用不到的東東送到需要的人手上的平台，讓東東出去漂流，幫助更多需要它的人</p>
  </div>
</div>
<h1></h1>
<%= link_to "新增東東", new_good_path, :class => "btn btn-success"%>
<table class="table">
  <thead class="thead-default">
    <tr>
      <td class="col-sm-1">我有東東想...</td>
      <td class="col-sm-1"></td>
      <td class="col-sm-3">東東名稱</td>
      <td class="col-sm-1">東東地區</td>
      <td>東東說明</td>
      <td class="col-sm-1">東東狀態</td>
    </tr>
  </thead>
  <tbody>
    <% @goods.each do |g| %>
    <tr>
      <td><%= t(g.type) %></td>
      <td class="list-img"><%= image_tag g.picture.url(:thumb) %></td>
      <td><%= link_to g.name, good_path(g) %></td>
      <td><%= g.area %></td>
      <td><%= g.description %></td>
      <td><%= g.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @goods %>