<h4>東東名稱：<%= @good.name %></h4>
<h4>東東地區：<%= @good.area %></h4>
<h4>東東類別：<%= @good.category.name %></h4>
<h4>東東說明：<%= @good.description %></h4>
<h4>真相在這邊：</h4>
<div class="show-img"><%= image_tag @good.picture.url %></div>
<%= link_to "返回主頁", goods_path, :class => "btn btn-default" %>

